  name: joblog
  on: workflow_dispatch
  jobs:
    joblog:
      runs-on: ubuntu-latest
      steps:
        - name: error
          run : |
            exit 1
        - name: get joblog
          if: ${{ failure() }}
          uses: actions/github-script@v7
          with:
            script: |
              const payload = context.payload
              const url = `https://github.com/SaillantNicolas/testaction/actions/runs/${context.runId}`
              console.log(url);
              
         
