name: Receive_PR
on: [workflow_dispatch]

concurrency:
  group: "pages"
  cancel-in-progress: true
  
jobs: 
  build:
    runs-on: ubuntu-latest

    steps:   
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create PR number file
        run: |
          echo "${{ github.event.number }}" > pr_number.txt
      - name: Upload PR number file
        uses: actions/upload-artifact@v3
        with:
          name: pr_number
          path: pr_number.txt
